<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}makeitso{% endblock %}</title>
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="{{ url_for('static', filename='vendor/htmx/htmx.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/alpinejs/alpine.min.js') }}" defer></script>
</head>
<body>
  <nav class="navbar bg-primary bc-header" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">makeitso</a>
      {% if session.user %}
        <div class="navbar-brand">
          <img src="{{ session.user.avatar_url }}" alt="User Avatar" class="rounded-circle" width="30" height="30">
          {{ session.user.login }}@github
          <a class="btn btn-primary border-light ms-3" href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
      {% else %}
        <a class="btn btn-primary border-light" href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
    </div>
  </nav>

  <main class="container py-4">
    {% block content %}{% endblock %}
  </main>

  {{ bootstrap.load_js() }}
</body>
</html>
