SECRET_KEY="a-super-secret-key"

GITHUB_APP_CLIENT_ID="<client ID of the github OAuth app>"
GITHUB_APP_CLIENT_SECRET="<client secret of the github OAuth app>"

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=