<div hx-get="{{ url_for('monitor.queues_partial') }}" hx-trigger="every 1s" hx-swap="outerHTML">
    {% for queue in queue_data %}
    <section class="pt-3">
        <div class="d-flex justify-content-between align-items-baseline border-bottom">
            <h2 class="h5">Queue: {{ queue.name }} <span class="text-muted">({{ queue.count }})</span></h2>
        </div>
        <ul class="list-unstyled">
            {% for job in queue.jobs %}
                {% include "monitor/_job.html" with context %}
            {% else %}
                <li class="text-muted py-3">No jobs yet.</li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
