{% extends "base.html" %}


{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="me-4">
            <a  href="{{ url_for('main.index') }}">
                <h1 class="h3 mb-0 text-nowrap">Stacks</h1>
            </a>
        </div>
        <div class="me-4 badge bg-primary p-3">
            <h1 class="h3 mb-0">Monitor Job Queues</h1>
        </div>
        <div class="container d-inline-flex justify-content-end gap-2">
            <a class="btn btn-primary d-inline-flex align-items-center gap-2" href="{{ url_for('stacks.new_stack') }}">
                {{ render_icon("plus-lg") }} New stack
            </a>
        </div>
        
    </div>
    {% for queue in queue_data %}
        {% include "monitor/_queue.html" with context %}
    {% endfor %}    
{% endblock %}